*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--body-color);
    text-align: var(--body-text-align);
    background-color: var(--body-bg);
    -webkit-text-size-adjust: 100%;
}

%heading {
    margin-top: 0;
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h1 {
    @extend %heading;
    @include font-size($h1-font-size);
}

h2 {
    @extend %heading;
    @include font-size($h2-font-size);
}

h3 {
    @extend %heading;
    @include font-size($h3-font-size);
}

h4 {
    @extend %heading;
    @include font-size($h4-font-size);
}

h5 {
    @extend %heading;
    @include font-size($h5-font-size);
}

h6 {
    @extend %heading;
    @include font-size($h6-font-size);
}

p {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
}

ul {
    padding-left: 2rem;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}