.lead {
    @include font-size($lead-font-size);
    font-weight: $lead-font-weight;
}

@each $display, $font-size in $display-font-sizes {
    .display-#{$display} {
        font-weight: $display-font-weight;
        line-height: $display-line-height;
        @include font-size($font-size);
    }
}
.small {
    @include font-size($small-font-size);
}